*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: blue;
    width: 100%;
    height: 100vh;
    background-image: url(./pengiriman-barang-delivery-planning-system-3-1024x558.png);
}