
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --padding: 2rem 4rem;
    --orange: #f1b41a;
    --padding-2: 2rem 2rem;
    --brown: #1f0f08;
    --box-shadow: 0px -1px 30px 4px rgba(0, 0, 0, 0.051);

}
.landing-page{
    background: black;
    height: 100vh;
    width: 100%;
    background: url(./images/background-1.png);
    background-size: cover;
    padding: var(--padding);
}


.landing-page > header{
    display: flex;
    justify-content: space-between;
   
}

.logo-n-links{
    display: flex;
    align-items: center;
    gap:4rem;
}

.logo{
    width: 185px;
}

.logo-n-links > nav{
    display: flex;
    gap: 1rem;
}

.logo-n-links > nav a{
    font-size: 21px;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: #5a5757;
    transition: all .3s linear;
    
    
}

.logo-n-links > nav a:hover{
    color: var(--orange)

}
/* icon and button */
.icon-n-button{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.icon-container{
    background-color: white;
    width: 50px;
    height: 45px;
    font-size: 27px;
    color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
}

.icon-container sup{
    background: var(--orange);
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -7px;
    right: -4px;
    border-radius: 100%;
}

.icon-n-button > button{
    background: var(--orange);
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    padding: .5rem 1.5rem;
    cursor: pointer;
    transition: all 3s linear;
    font-size: 17px;

}

.icon-n-button > button:hover{
    background: white;
    color: var(--orange);
    border: 2px solid var(--orange);
}
/* media icons */
.media-icons{
    font-size: 21px;
}
.fa-bars,fa-xmark{
    display: none;
}
@media(max-width:768px){
    .fa-bars{
        display:block;
    }

    .logo-n-links > nav{
        position: absolute;
        background: white;
        top: 0;
        left: 0;
        height: 100vh;
        width: 45vw;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        padding-top: 4rem;
        display: none;
    }

    .landing-page{
        padding: var(--padding-2);
    }

}

.logo-n-links > nav a{
    border-bottom: 2px solid gray;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.icon-n-button button{
    display: none;
}

.delivery-man-image{
    width: 490px;
}

.text-area h1{
    font-size: 75px;
    line-height: 5rem;
    color: var(--brown);
}

.text-area{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.text-n-image{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem 0;
    align-items: cebter;

}
.order-btn{
    background: var(--orange);
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    padding: .8rem 1.5rem;
    cursor: pointer;
    transition: all 3s linear;
    font-size: 17px;
    width: 180px;
}

.order-btn:hover{
    background: white;
    color: var(--orange);
    border: 2px solid var(--orange);
}

.text-area button{
    margin-top: 3rem;
}

.image-area{
    position: relative;
}

.text-area p{
    margin-top: .5rem;
    color: var(--brown);
}

.location-container{
    background-color: white;
    position: absolute;
    top: 0;
    right: -2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    top: 6rem;
    
}

.icon{
    background: var(--orange);
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.icon > i{
    font-size: 24px;

}

.location-container .txt-area{
    display: flex;
    flex-direction: column;
}

.location-container .txt-area span{
    font-size: 18px;
    font-weight: bold;

}

.location-container .txt-area small{
    color: gray;

}

.img-container{
    position: absolute;
    left: -20rem;
    bottom: -18.5rem;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    
}

.img-container .txt-area-1 .stars{
    padding-top: .3rem;
    font-size: 15px;
    color: #fac802fa;

}

.txt-area-1 > span{
    color: gray;
    
    
}

.img-1 > img{
    width: 65px;
}

@media(max-width: 768px){
    .text-n-image{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;

    }

}

@media(max-width: 375) {
    .text-area h1{
        font-size: 40px;
        line-height: 3rem;
    }

    .delivery-man-image{
        width: 420px;
    }

    .location-container{
        top: 4rem;
        right: 0rem;
        gap: 1rem;
    }

    .location-container .txt-area span{
        font-size: 12px;
    }

    
    
}

.blender{
    height: 2rem;
    padding: var(--padding);
    width: 100%;
    background: linear-gradient(to bottom, transparent, #f8f9fa );
}
/* works section */
.works-container{
    padding-top: 2rem;
    padding: var(--padding);
    text-align: center;
    background: #f8f9fa;
}

.works-container h2{
    font-size: 35px;
    color: var(--brown);
    
}

.works-container > p{
    padding: 0 14rem;
    color: gray;
    line-height: 25px;
    margin-top: 1rem;
}

.works{
    display: flex;
    margin-top: 4rem;
    gap: 2rem;
}

.work h3{
    font-size: 25px;
    margin: .3rem 0;
}

.work h3 > span{
    color: rgba(128, 128, 128, 0.881);
}

.work p{
    color: gray;
}
/* menu area */
.menu-container{
    padding: var(--padding);
}

.menu-container > h2{
    text-align: center;
    font-size: 35px;
    color:var(--brown)
}

.menu-container > p{
    text-align: center;
    margin-top: .5rem;
}

.items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
    gap: 2rem;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;

}

.item img{
    width: 175px;
}

.item button{
    width: 140px;
    padding: .5rem 0;
    border-radius: 18px;
}

.item span{
    font-family: "Noto Sans JP";
}

/* favorite container */
.favorite-container{
    height: 100vh;
    padding: .5rem 0;
    width: 100%;
    background: url("./images/background-1.png");
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: var(--padding-2);
}

.favorite-container .img-area{
    position: relative;
}

.favorite-container .img-area img{
    width: 490px;
}

.utils{
    background: white;
    position: absolute;
    top: 5rem;
    right: 3rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.3rem;
    border-radius: 12px;
}

.util{
    display: flex;
    gap: .5rem;

}

.util i{
    color: orange;
}

.util span{
    color: gray;
}

.favorite-container .text-area h2{
    font-size: 81px;
    color: var(--brown);
    
}

.favorite-container .text-area p{
    color: gray;
}

/* services */

.services{
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    gap: 2rem;
    align-items: center;
}

.services h2{
    font-size: 35px;
    padding: 0 3rem;
}

.service{
    box-shadow: var(--box-shadow);
    padding: 2.3rem 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
}

.service .num{
    color: var(--orange);
    font-size: 45px;
    font-weight: bold;
}

.service.text{
    color: gray;
    
}

/* customers review */

.customer-rev > h2{
    font-size: 60px;
    font-weight: bold;
    line-height: 3rem;
    margin-bottom: 2rem;

}

.customer-review{
    padding: var(--padding);
    display: flex;
   
}

.passport img{
  width: 100px;
  height: 100px;
  background-position: center;
  overflow: hidden;
}
.passport{
    margin-top: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.img-n-rating{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img-review img{
    width: 490px;

    
}

.next-n-forward{
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}
.arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 100%;
    
}

.arrows > i{
    font-size: 19px;
}

.ratings{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 50px;
}

.star-1{
    margin-top: .3rem;
    color: var(--orange);
}
 .ratings > span{
    font-size: 19px;
    font-weight: bold;
 }
.img-review{
    position: relative;
}
.img-review .thumbs-up{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    right: 23rem;
}
.thumbs-up > i{
    color: var(--orange);
    font-size: 70px;
}

/* save menu */

.menu{
    display: flex;
    background: rgba(128, 128, 128, 0.098);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 330px;
   
}

.save-menu {
    margin-left: 2rem;
}

.save-menu img{
    width: 450px;
}

.txt-n-subscribe{
    padding: 0 25rem;
    margin-left: -20rem;
}

.txt-n-subscribe > h2{
    font-size: 40px;
    padding-top: 2rem;
    
}

.sub{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.sub > button{
    color: white;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    font-size: 17px;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s linear;
}
.sub > button:hover{
    color: var(--orange);
    border: 2px solid var(--orange);
    background-color: white;

}
.sub > input{
    border: none;
    background-color: white;
    height: 37px;
    border-radius: 5px;
    text-align: center;
    
}
/* foooter section */
.footer{
    background-color: rgb(33, 32, 32);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
   
}

.logo-txt > img{
    width: 150px;
}

.footer-txt{
    margin-top: 1rem;
    display: flex;
    width: 350px;
   
    
   
}
.footer-txt > h2{
    color: white;
    font-size: 50px;
   
    
}

.menu-footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.menu-footer > span{
    color: gray;
    font-weight: bold; 
    font-size: 25px;


}

.menu-footer > nav{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-footer > nav a{
    text-decoration: none;
    color: white;

}
.contact-footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-footer > span{
    color: gray;
    font-weight: bold; 
    font-size: 20px;

}

.contact-footer > address{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.contact-footer > address span{
    color: white;
}

.address-icon{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-media{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.twitter{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.social-media i{
    color: white;
}




